<div class="container mt-5">
	<div class="row">
		<div class="col">
			<a href="{{ path("pressure_list") }}" class="btn btn-primary">Liste</a>
		</div>
		<div class="col">
			<a href="{{ path("pressure_add") }}" class="btn btn-primary">Nouveau</a>
		</div>
		<div class="col">
			<a href="#" class="btn btn-primary">Calcul</a>
		</div>
	</div>
</div>
